body {
    background-color: rgb(14, 14, 14);
}

.encabezado, .catalogo, .carrito {
    font-family: 'Oswald', sans-serif;
    color: white;
}

.encabezado {
    font-size: 5em;
    padding-left: 300px;
}

.catalogo {
    font-size: 3em;
    padding-bottom: 20px;
    padding-left: 350px;
}